mixin checkbox(args)
	.checkbox
		label
			input.checkbox-element(
				type='checkbox',
				name= args.name ? args.name : '',
				id= args.id ? args.id : '',
				value= args.value ? args.value : '')&attributes(attributes)
			| #{args.label}
