mixin checkbox(args)
	.checkbox
		label&attributes(attributes)
			input.checkbox-element(
				type='checkbox',
				name= args.name ? args.name : '',
				id= args.id ? args.id : '',
				value= args.value ? args.value : '')
			span.checkbox-text #{args.label}
			block
