include ../../layout/content/content
include ../../layout/expert/expert
include ../../layout/timer/timer
include ../../layout/similar/similar
include ../../layout/other/other
include ../../layout/recent/recent
include ../../layout/product-page-set/product-page-set
include ../../layout/not-found/not-found
include ../../basic/link/link
include ../../basic/pattern/pattern
include ../../basic/order-form-section/order-form-section
include ../../basic/button/button
include ../../basic/details/details
include ../../basic/phone/phone
include ../../basic/form/form
include ../../basic/label/label
include ../../layout/breadcrumb/breadcrumb
include ../../basic/help-block/help-block
include ../../basic/tooltip/tooltip
include ../../basic/dropdown/dropdown
include ../../basic/tag/tag
include ../../basic/table/table
include ../../basic/checkbox/checkbox
include ../../basic/countdown/countdown
include ../../basic/product/product
include ../../basic/rating/rating
include ../../basic/action/action
include ../../basic/available/available
include ../../basic/nav-tabs/nav-tabs
include ../../layout/nav-main/nav-main

include description/description
include features/features
include reviews/reviews
include questions/questions
include delivery/delivery


mixin productPageLP()
	block vars
	- var	order = pageId === 'order'
	- var available = productState !== 'notAvailable';

	+nav-main().hidden-xs.hidden-sm
	+content-outer().hidden-xs.hidden-sm
		.col-md-6
			+breadcrumb(['Главная', 'Каталог товаров', 'Велосипеды', pageTitle])
	section.product-page__head
		+content-outer().product-page-container
			.col-md-6
				h2.product-page__heading-main Samsung 19300 Galaxy S III Garnet
				.product-page__rating-mobile
					.spec__rating-wrap
						+rating()
						span.spec__rating-number
							strong 4,8
							|  из 5
						em.spec__rating-votes
							| (8 голосов)
				.product-page__icons.hidden-xs.hidden-sm
					span.product-page__icons-wrap
						img(src="./assets/images/android-icon.png", alt="android")
					span.product-page__icons-wrap
						img(src="./assets/images/2-sim-icon.png", alt="2-sim")
					span.product-page__icons-wrap
						img(src="./assets/images/3g-icon.png", alt="3g")
					span.product-page__icons-wrap
						img(src="./assets/images/ips-icon.png", alt="ips")
					span.product-page__icons-wrap
						img(src="./assets/images/4-cores-icon.png", alt="4-cores")
					span.product-page__icons-wrap
						img(src="./assets/images/gps-icon.png", alt="gps")

	section.product-page__offers
		+content-outer().product-page-container.product-page-container--no-padding
			.col-md-3
				+b.product-gallery.product-page__offers__gallery
					+e.sidebar.js-sidebar-product.hidden-xs.hidden-sm
						+e('a')(href=jv0).item
							+e.item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-1-small.jpg').img
						+e('a')(href=jv0).item
							+e.item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-2-small.jpg').img
						+e('a')(href=jv0).item
							+e.item__inner
								+e.img-wrap
									+e('i').video-icon.icon-play-fff-44x44
									+e('img')(src='./assets/images/bike-3-video-small.jpg').img
						+e('a')(href=jv0).item
							+e.item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-2-small.jpg').img
					+e.main.js-gallery-product
						+e.main__item
							+e.main-item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-1.jpg').img
						+e.main__item
							+e.main-item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-2-small.jpg').img
						+e.main__item
							+e.main-item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-3-video-small.jpg').img
						+e.main__item
							+e.main-item__inner
								+e.img-wrap
									+e('img')(src='./assets/images/bike-2-small.jpg').img
			.col-md-3.hidden-xs.hidden-sm
				.product-page__offers__spec(class=!available ? 'product-page__offers__spec--unavailable' : '')
					.row
						.col-md-4
							.spec__label
								if available
									+label-warning('На что стоит обратить внимание?')
									p.spec__label__caption
										| Функция «Social tag» позволяет соединить лица в вашем фотоальбоме с социальными сетями.
								else
									+label-warning('Товара нет в наличии')
					if available
						+timer({type: productState, countdownId:'phone1'}).product-page__timer
					else
						hr.product-page__unavailable-divider
					.spec__left
						.spec__price-wrap
							if !available
								.spec__price.spec__price-text Последняя цена на сайте
							s.spec__price.spec__price--old
								| 2 610 000 BYR
							strong.spec__price.spec__price--new
								| 1 950 000 BYR
							if available
								+available({count:5}).spec__available
							else
								+available({count:0}).spec__available
						if available
							.spec__buy
								+button({type:'buttonSubmit'}).btn-lg.btn--red.btn-block.spec__buy__btn.js-buy
									| Купить
								+checkbox({name:'product-warranty','id':'warranty', value:'add-warranty',label:'Продлить гарантию еще на 1 год'}).spec__warranty
									strong.spec__warranty-price + 106 400 BYR
									+link().link--pseudo.spec__buy__info.js-show-info
										| узнать подробнее
					.spec__right
						.spec__rating-wrap
							+rating()
							span.spec__rating-number
								strong 4,8
								|  из 5
							em.spec__rating-votes
								| (8 голосов)
						.spec__actions
							if available
								+action({type:'drop'})
							+action({type:'compare'})
							+action({type:'favorite'})
						if available
							.spec__credit
								+link()
									i.icon-timer.spec__credit__timer
									span.spec__credit__link-text Как купить в кредит?
					if available
						.spec__one-click
							.spec__one-click__input-wrap
								+input({type:'phone',placeholder:'+375'}).spec__phone-input.js-phone
							i.icon-arrow-right.spec__icon-arrow
							+button({type:'buttonSubmit'}).btn-med.btn--dark.spec__one-click__btn.js-one-click-buy
								| Купить в один клик

		+content-outer().product-page-container
			.product-page__actions-mobile
				.row
					.col-xs-3.col-sm-2.product-page__actions-mobile__prices
						strong.spec__price.spec__price--new
							| 1 950 000 BYR
						s.spec__price.spec__price--old
							| 2 610 000 BYR
					.col-sm-4
						.row.product-page__actions-mobile__row
							.col-xs-3.col-sm-3.product-page__actions-mobile__col-1
								+available({count:5}).spec__available.product-page__actions-mobile__available
							.col-xs-3.col-sm-3.product-page__actions-mobile__col-2
								+checkbox({name:'product-warranty','id':'warranty2', value:'add-warranty',label:'Дополнительный сервис'}).product-page__actions-mobile__checkbox
							.col-xs-3.col-sm-3.product-page__actions-mobile__col-3
								+button({type:'buttonSubmit'}).btn-lg.btn--red.btn-block.spec__buy__btn.js-buy
									| Купить



	section.product-page__conditions.hidden-xs.hidden-sm
		+content-outer()
			.col-md-2.col-sm-2
				.media.product-page__condition
					.media-left.product-page__condition__left
						i.icon-wire-transfer
					.media-body
						h6.product-page__condition__heading Гарантия возврата денег
						p.product-page__condition__caption в течение 14 дней с даты покупки
						+link().link--pseudo.product-page__condition__link Условия возврата
			.col-md-2.col-sm-2
				.media.product-page__condition
					.media-left.product-page__condition__left
						i.icon-calendar-48
					.media-body
						h6.product-page__condition__heading 48 месяцев гарантии
						p.product-page__condition__caption от производителя
						+link().link--pseudo.product-page__condition__link Условия гарантии
			.col-md-2.col-sm-2
				.media.product-page__condition
					.media-left.product-page__condition__left
						i.icon-truck-delivery
					.media-body
						h6.product-page__condition__heading Быстрая доставка
						p.product-page__condition__caption
							| По Минску сегодня.
							br
							| Ежедневно в другие регионы
						+link().link--pseudo.product-page__condition__link Условия доставки
	+similar()
	section.product-page-lp__info
		section#js-product-info-navigation.product-page-lp__info__nav.sticky.hidden-xs.hidden-sm
			+navTabsProductLP({
										links: [
											{
												isActive: true,
												href: '#description',
												class: 'js-product-lp-nav-tab',
												icon: 'feather',
												content: 'Описание'
												},
											{
												isActive: false,
												href: '#video',
												class: 'js-product-lp-nav-tab',
												icon: 'video',
												content: 'Видео'
												},
											{
												isActive: false,
												href: '#features',
												class: 'js-product-lp-nav-tab',
												icon: 'info',
												content: 'Характеристики'
												},
											{
												isActive: false,
												href: '#review',
												class: 'js-product-lp-nav-tab',
												icon: 'review',
												content: 'Отзывы'
												},
											{
												isActive: false,
												href: '#questions',
												class: 'js-product-lp-nav-tab',
												icon: 'help',
												content: 'Вопрос – ответ'
												}
										]
									}).js-product-lp-nav
		section.product-page-lp-info-description#description
			.container-20-outer.product-page-container
				.row-20.hidden-xs.hidden-sm
					.col-md-20-5
						+b('article').product-page-lp-promo
							+e('img')(src='./assets/images/description bg.jpg').bg-img
							+e.inner
								+e('img')(src='./assets/images/GAMBLER 20 BIKE.png').logo-img
								+e('p').text
									| Горный велосипед 2014 года, кардинально переработаный Scott Gambler. Байк стоит вашего внимания.
				.row-20
					.col-md-20-5
						+b('article').product-page-lp-history.product-page-lp-info-section
							.product-page-lp__inner
								+e('h1').heading Gambler 20
								+e('p').text
									| Весной 2012 года, кардинально переработаный Scott Gambler впервые был представлен в интернете. Первым райдером, который должен тестировать его, был Брендон Феирклаф и команда Скотт 11. Байк оснащён интереснейшей системой линков задней подвески и впечатляющим наклоном рулевой в 62-градуса. На протяжении всего гоночного сезона, байк претерпел несколько изменений, прежде чем его официально представили в июле 2012 года. К тому же он являлся тем, кто тестировал и усовершенствовал байк. На протяжении нескольких заездов стало ясно, что Бен очень ловок на велосипеде. Он никогда не был в Уистлере раньше, но он не отставал от нас ни на секунду до самого последнего спуска.
								.mobile-text-more
									+link().link--pseudo.link--pseudo-with-icon.mobile-text-more__link.js-show-more-mobile
										span.link__text Описание полностью
										| !{''}
										i.icon-arrow-down-red-8x5.link__icon.mobile-text-more__link-icon

							.product-page-lp__right.hidden-xs.hidden-sm
								+e('ul').features
									+e('li').feature-item
										+e('img')(src='./assets/images/speed-58x52.png').feature-img
										+e.feature-text-wrap
											+e('strong').strong 27
											+e('p').feature-text скоростей
									+e('li').feature-item
										+e('img')(src='./assets/images/diameter-54x54.png').feature-img
										+e.feature-text-wrap
											+e('strong').strong 26
											+e('p').feature-text дюймов колесо
									+e('li').feature-item
										+e('img')(src='./assets/images/mountains-60x52.png').feature-img
										+e.feature-text-wrap
											+e('strong').strong горный
											+e('p').feature-text велосипед

		section.product-page-lp-info-video#video.hidden-xs.hidden-sm
			.container-20-outer.product-page-container
				.row-20
					.col-md-20-5
						+b('article').product-page-lp-video.product-page-lp-info-section
							.product-page-lp__inner
								+e.video-wrap.video-wrap-left
									iframe(width="100%" height="406" src="https://www.youtube.com/embed/N3gN9Up6hmc" frameborder="0" allowfullscreen)

							.product-page-lp__right
								+e('h1').heading Scott Gambler в Лурде
								+e('i').dash-icon.icon-dash-111-20x4
								+e('strong').subheading Чемпионат Mountain Bike World Cup Стоп #&nbsp;1
								p Следуйте за Бренданом Фэрклафом, Нэко Мулалли и остальной частью команды Гштаад-Скотт в Лурд для первой остановки в UCI MTB Кубка мира.
								+button().btn--red.btn-lg.product-page-lp-video__btn
									| Смотреть видеообзор
									i.icon-arrow-gt.btn-more__icon
				.row-20
					.col-md-20-5
						+b('article').product-page-lp-video.product-page-lp-info-section
							.product-page-lp__left
								+e('h1').heading Gambler 20 и его достоинства в горах
								p Ходовые качества велосипеда продолжали нас удивлять и на других частях горы. При дропах со скалы перед нами открывались огромные грязевые участки между Ловер Вистлер ДХ и Ловер Джойрайд которые являются одними из самых опасных зон в нижней части горы, но Гемблер справился и с ними.
								+button().btn--red.btn-lg
									| Смотреть видеообзор
									i.icon-arrow-gt.btn-more__icon
							.product-page-lp__inner
								+e.video-wrap.video-wrap-right
									iframe(width="100%" height="406" src="https://www.youtube.com/embed/7XdYnh729IQ" frameborder="0" allowfullscreen)
		section.product-page-lp-features#features
			+content-20-outer().product-page-container
				.col-md-20-3.col-md-20-offset-1
					h1.product-page-lp__heading Характеристики
					+features-content()
		+b('section').product-page-lp-features-bg
			+e.container.container-20-outer.product-page-container
				.row-20
					.col-md-20-5
						+e('img')(src='./assets/images/bike-design-bg.jpg').bg-img
						+e.inner
							h1
								| Дизайн Шредера
							p
								| Бен Уолкер, менеджер по производству байков, присоединилися к нашим покатушкам. В какой-то степени, мы хотели бы верить, что ходовые характеристики велосипеда, это отраженние усилий дизайнеров над работой по его проектированию. К тому же он являлся тем, кто тестировал и усовершенствовал байк.
							p
								| На протяжении нескольких заездов стало ясно, что Бен очень ловок на велосипеде. Он никогда не был в Уистлере раньше, но он не отставал от нас ни на секунду до самого последнего спуска. А это говорит о том, что он приложил немало усилий при проектировке велосипеда.
		section.product-page-lp-features
			.container-20-outer.product-page-container
				.row-20
					.col-md-20-3.col-md-20-offset-1
						+b('article').product-page-lp-features-details
							+e.left.hidden-xs.hidden-sm
								.row
									.col-md-3.product-page-lp-features__col
										+e.item
											+e('img')(src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image", width='800', height='600', alt="placeholder+image").img
									.col-md-3.product-page-lp-features__col
										+e.item
											+e('img')(src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image", width='800', height='600', alt="placeholder+image").img
								.row.product-page-lp-features__row
									.col-md-3.product-page-lp-features__col
										+e.item
											+e('img')(src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image", width='800', height='600', alt="placeholder+image").img
									.col-md-3.product-page-lp-features__col
										+e.item
											+e('img')(src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image", width='800', height='600', alt="placeholder+image").img
							+e.right
								+e('h1').heading Совершенство в деталях
								.row-25
									.col-md-6.col-sm-25-2
										+e('ul').list
											+e('li').list-item
												+e('strong').strong
													| Материал рамы: !{''}
												+e('span').value 6061 алюминий
											+e('li').list-item
												+e('strong').strong
													| Ход подвески: !{''}
												+e('span').value 210 мм (8,2 дюймов)
											+e('li').list-item
												+e('strong').strong
													| Вес рамы: !{''}
												+e('span').value 3,904 кг. без амортизатора
									.col-md-6.col-sm-25-2
										+e('li').list-item
											+e('strong').strong
												| Вилка: !{''}
											+e('span').value Fox 40 RC2, 20мм ось
										+e('li').list-item
											+e('strong').strong
												| Амортизатор: !{''}
											+e('span').value Fox DHX RC2 Coil
										+e('li').list-item
											+e('strong').strong
												| Вес в сборе: !{''}
											+e('span').value 17,8 кг
								.mobile-text-more
									+link().link--pseudo.link--pseudo-with-icon.mobile-text-more__link.js-show-more-mobile
										span.link__text Ещё детали
										| !{''}
										i.icon-arrow-down-red-8x5.link__icon.mobile-text-more__link-icon
		+b('section').product-page-lp-features-bg
			+e.container.container-20-outer.product-page-container
				.row-20
					.col-md-20-5
						+e('img')(src='./assets/images/bike-bg-2.jpg').bg-img
						+e.inner
							h1
								| На трассе
							p
								| В нашем первом заезде мы прокатались на Гемблере от Шлейера к низлежащему Кенедиан Опен, трасса была полна различных по размеру дропов, глубоких впадин, камней, неровностей, скалистых секций, ну и конечно же нескольких вылетов.
							br
							p
								| Сразу стало понятно, что этот байк удивительно хорошо отрабатывает поверхности с жёсткими препятствиями. Чуть выше кресельной канатной дороги, есть участок Шлейера, где выпрыгивая с каменной плиты приземляешься на площадку усеянную камнями. К нашему удивлению, Гемблер едва замедлялся на камнях, как будто проглатывая их.
		+expert({
						heading: 'Мнение эксперта',
						subheading: 'кратко о главном',
						type: 'product'
					}).product__expert.product-lp__expert
			| В то время, когда несколько компаний выпускают велосипеды стоимостью свыше 9000 тыс. долл., Скотт разработал гоночный аппарат способный на равне конкурировать с топ-байками всего то за две трети их стоимости. Мы видим Гемблер в качестве идеального байка для езды на высоких скоростях с крутых склонов, а также обладающим способностью хорошо выполнять другие, более сложные задачи, после изменения несколько настроек геометрии рамы.
		section.product-page-lp-info-care
			+content-20-outer().product-page-container
				.col-md-20-2.col-sm-25-2
					+b('article').product-page-lp-care
						+e('h1').heading.h1--red Уход за товаром
							small Залог долговечности
						p
							| Для надежной и качественной работы велосипеда вам необходимо праввильно ухаживать за велосипедом, содержать его в чистоте и следить за еготехническим состоянием.
						+button().btn--dark.btn-lg.product-page-lp-care__btn
							| Читать инструкцию
							i.icon-arrow-gt.btn-more__icon
				.col-md-20-3.col-sm-25-2.tooltip-image-wrap
					+b.tooltip-image
						+e('img')(src="./assets/images/bike-3.png", alt="placeholder+image").img
						+e('a')(href=jv0, data-description='Натяжитель', data-id='1', style='position: absolute; top: 265px; left: 96px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Седло', data-id='2', style='position: absolute; top: 128px; left: 187px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Амортизатор', data-id='3', style='position: absolute; top: 196px; left: 232px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Педаль', data-id='4', style='position: absolute; top: 244px; left: 268px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Звезда', data-id='5', style='position: absolute; top: 263px; left: 211px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Руль', data-id='6', style='position: absolute; top: 50px; left: 347px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Трос', data-id='7', style='position: absolute; top: 114px; left: 366px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Передни амортизатор', data-id='8', style='position: absolute; top: 158px; left: 390px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e('a')(href=jv0, data-description='Тормоза', data-id='9', style='position: absolute; top: 264px; left: 447px;').tooltip-link.tooltip-link
							i.icon-plus-fff-12x12.tooltip-link-icon
						+e.tooltip-text.tooltip-text
							span Натяжитель
		section.product-page-lp__info__reviews-questions(name='review')
			+content-20-outer().product-page-container
				.col-md-20-3.col-md-20-offset-1
					h1.product-page-reviews__heading Отзывы покупателей
					+navTabsProduct({
										type:'small',
										links: [
											{
												isActive: true,
												href: '#review',
												class: 'js-product-info-nav-tab',
												icon: 'review',
												content: 'Комментарии'
												},
											{
												isActive: false,
												href: '#questions',
												class: 'js-product-info-nav-tab',
												icon: 'help',
												content: 'Вопрос – ответ'
												}
										]
									}).js-product-info-nav.hidden-xs.hidden-sm
					.product-page-lp__reviews-questions
						.tab-content.product-page-lp__tab-content
							#review.tab-pane.active(role='tabpanel')
								+reviews()
							#questions.tab-pane(role='tabpanel').hidden-xs.hidden-sm
								+questions()
	+pattern().hidden-xs.hidden-sm
	+productPageSet().hidden-xs.hidden-sm
	+recent()
	+not-found()

