include ../link/link

mixin navTabs(args)
	ul.nav.nav-tabs&attributes(attributes)
		each item in args.links
			li(role='presentation', class= (item.isActive) ? 'active' : '')
				+link(item.href).js-nav-tab
					i(class= 'icon-' + item.icon + ' nav__icon-' + item.icon)
					span.nav-tabs__text !{item.content}

mixin navTabsProduct(args)
	ul.nav.nav-tabs.product-nav-tabs(class= (args.type === small) ? 'product-nav-tabs--small' : '')&attributes(attributes)
		each item in args.links
			li(role='presentation', class= (item.isActive) ? 'active' : '')
				+link(item.href).js-product-nav-tab
					i(class= 'icon-' + item.icon + ' nav__icon-' + item.icon)
					span.nav-tabs__text !{item.content}

mixin navTabsProductLP(args)
	+b('ul').product-lp-nav&attributes(attributes)
		each item in args.links
			if item.isActive
				+e('li')(role='presentation').item.active
					+e('a')(href=item.href, class= 'link' + ' ' + item.class)
						+e('i')(class= 'icon' + ' icon-' + item.icon + ' nav__icon-' + item.icon)
						+e('span').text !{item.content}
			else
				+e('li')(role='presentation').item
					+e('a')(href=item.href, class= 'link' + ' ' + item.class)
						+e('i')(class= 'icon' + ' icon-' + item.icon + ' nav__icon-' + item.icon)
						+e('span').text !{item.content}

mixin navSocial(args)
	ul.nav.nav-tabs.social&attributes(attributes)
		each item in args.links
			li(role='presentation', class= (item.isActive) ? 'active' : '')
				+link(item.href)(class= item.class)
					i(class= 'icon-' + item.icon + ' tablet__icon-' + item.icon)

mixin navMenu(args)
	ul.nav.nav-tabs&attributes(attributes)
		each item in args.links
			li(role='presentation', class= (item.isActive) ? 'active' : '')
				+link(item.href)(class= item.class)
					span.menu-popup__icon-wrap
						i(class= 'icon-' + item.icon + ' menu-popup__icon menu-popup__icon-' + item.icon)
					span.nav-tabs__text !{item.content}

mixin navSubheader(args)
	.subheader-nav-tabs-outer
		ul.nav.nav-tabs.subheader-nav-tabs&attributes(attributes)
			each item in args.links
				li(role='presentation', class= (item.isActive) ? 'active' : '')
					a(href=item.href, class= item.class)
						span.nav-tabs__text !{item.content}

mixin navSubheaderSmall(args)
	.subheader-nav-tabs-outer--small
		ul.nav.nav-tabs.subheader-nav-tabs.subheader-nav-tabs--small&attributes(attributes)
			each item in args.links
				li(role='presentation', class= (item.isActive) ? 'active' : '')
					a(href=item.href, class= item.class)
						span.nav-tabs__text !{item.content}
		.nav-tabs__position
			a(href=jv0).nav-tabs__position-link.nav-tabs__position-link--is-active.js-position-tiles
				i.nav-tabs__position__icon-tiles
			a(href=jv0).nav-tabs__position-link.js-position-rows
				i.nav-tabs__position__icon-rows

