include ../../basic/link/link
include ../../basic/order-form-section/order-form-section
include ../../basic/button/button
include ../../basic/details/details
include ../../basic/phone/phone
include ../../basic/form/form
include ../../basic/help-block/help-block
include ../../basic/tooltip/tooltip
include ../../basic/dropdown/dropdown
include ../../basic/pattern/pattern
include ../../basic/table/table
include ../../basic/checkbox/checkbox
include ../../layout/content/content
include ../../layout/order-item/order-item
include ../../layout/select-sm/select-sm

mixin order()
	+b('section').order-items-text-mobile.hidden-md.hidden-lg
		+content-outer()
			.col-xs-6
				+e.inner
					+e('span').text Вы заказываете: !{''}
					+e('strong').strong
						span.js-order-items-count 2
						|  товара на сумму !{''}
						span.js-order-items-price 1 212 000 BYR
	+b('section').order-items-mobile.hidden-md.hidden-lg
		+content-outer()
			+e.order-items
				+order-item()


	section.order__head
		+content-outer()
			.col-md-6
				h1.order__heading !{pageTitle}
	section.order__body
		+content-outer()
			.col-md-4
				.order__form-wrap
					form.order__form.form-horisontal.js-order-form
						+order-form-section(1,'Введите ваши данные')
							+input-horizontal-group({name:'Имя',placeholder:'Имя',required:true,help:{name:'helpName',text:'Например, Иван'}})#name.order__form__input
							+input-horizontal-group({type:'email',name:'Email',placeholder:'Email',required:true,help:{name:'helpEmail',text:'На этот почтовый ящик пришлем подробности заказа'}})#email.order__form__input
							+input-horizontal-group({type:'phone',name:'Телефон',placeholder:'+375',required:true,help:{name:'helpPhone','text':'Контактный телефон только на случай вопросов по Вашему заказу'},validate:{'text':'Введите номер телефона'}})#phone.order__form__input.js-phone

						+order-form-section(2,'Город и способ доставки')
							.form-group.form-group-city
								label.control-label.col-sm-20-1
									| Город
								.col-sm-20-4
									.select-sm-wrap.select-sm-city-wrap.order__form__input
										+select-city()
									//- +select-sm().order__form__input
									//- select.form-control.order__form__input
									//- 	option
									//- 		| Минск
									//- 	option
									//- 		| Брест
									//- 	option
									//- 		| Витебск
									//- 	option
									//- 		| Гродно
									//- 	option
									//- 		| Гомель
									//- 	option
									//- 		| Могилев
									+helpInlineBlock.help-block-city--inline
										+link.link--pseudo.help-link--inline
											| Нет Вашего города в списке?
							//- +dropdown("Город",[
											{text:"Минск",url:jv0,city:"Minsk"},
											{text:"Брест",url:jv0,city:"Brest"},
											{text:"Могилев",url:jv0,city:"Mahiliou"}
											])
							//- +input-horizontal-group({name:'Город',placeholder:'Город',required:true})#city.order__form__input

							.form-group.form-group-radio.js-radio-address-block
								.col-sm-20-4.col-sm-20-offset-1
									+radio({'text':'Курьерская доставка по Минску',name:'addressRadios',checked: true, 'id': 'radio-1'}).order__form__radio.radio--courier.js-radio-address
										.tooltip.right.in(role='tooltip').order__form__tooltip
											.tooltip-arrow.order__form__tooltip-arrow
											.tooltip-inner Бесплатно
								.address-block.js-address
									+input-horizontal({name:'Адрес',placeholder:'Адрес'})#address-courier.order__form__input

							.form-group.form-group-radio.js-radio-address-block
								.col-sm-20-4.col-sm-20-offset-1
									+radio({'text':'Самовывоз со склада в Минске',name:'addressRadios', 'id': 'radio-2'}).order__form__radio.radio--self-pickup.js-radio-address
										.tooltip.right.in(role='tooltip').order__form__tooltip
											.tooltip-arrow.order__form__tooltip-arrow
											.tooltip-inner Бесплатно
								.address-block.address--is-hidden.js-address
									.col-sm-20-4.col-sm-20-offset-1
										+b.order-map
											+e.iframe
												script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=V4sidRrcu64JsAX_eB1YkU2mRkHsicGW&width=100%&height=400&lang=ru_RU&sourceType=constructor")
											+e.footer
												+e('i').icon-map.icon-map-292929-12x18
												+e('address').address
													| г.Минск, ул.Ленина 56, оф 7

							.form-group.form-group-radio.js-radio-address-block
								.col-sm-20-4.col-sm-20-offset-1
									+radio({'text':'Экспресс доставка по Минску (в течении часа)',name:'addressRadios', 'id': 'radio-3'}).order__form__radio.radio--express.js-radio-address
										|  !{''}
										strong.order__form__price.js-order-price 41 612 BYR
								.address-block.address--is-hidden.js-address
									+input-horizontal({name:'Адрес',placeholder:'Адрес'})#address-express.order__form__input


						+order-form-section(3,'Способ оплаты')
							.form-group
								.col-sm-20-4.col-sm-20-offset-1
									+radio({'text':'Наличными курьеру при доставке',name:'paymentRadios', 'id': 'radio-4'}).order__form__radio
									+radio({'text':'Безналичная оплата согласно выставленному счету',name:'paymentRadios', 'id': 'radio-5'}).order__form__radio
									+radio({'text':'Оплата наличными в магазине при самовывозе',name:'paymentRadios', 'id': 'radio-6'}).order__form__radio
							.form-group.visible-md-block.visible-lg-block
								.col-sm-20-4.col-sm-20-offset-1
									+link().link--pseudo.order__form__back-link.js-return-order
										| Вернуться назад
									+button({type:'buttonSubmit'}).btn-lg.btn--dark.order__form__submit-btn.js-submit-order
										| Оформить заказ
						.order__form__foot.hidden-md.hidden-lg
							.form-group
								.col-sm-20-4.col-sm-20-offset-1
									.order__form__final
										span.js-order-items-count 3
										|  товара на сумму
										strong.order__form__final__price 3 374 000 BYR
									.order__form__submit-wrap
										+button({type:'buttonSubmit'}).btn-med.btn--red.order__form__submit-btn--mobile.js-submit-order
											| Оформить заказ
							.form-group
								.col-sm-20-4.col-sm-20-offset-1
									+link().link--pseudo.link--pseudo-with-icon.order__form__return-link.js-back
										i.icon-left-555-5x9.link__icon.order__form__return-link-icon
										| !{''}
										span.link__text Вернуться к покупкам







			.col-md-2.visible-md-block.visible-lg-block
				section.order__fast
					.order__fast__inner
						h2.order__fast__heading.h2--red Быстрый заказ
						h6.small.order__fast__subheading Не хотите заполнять никаких форм?
						form
							label.order__fast__label Просто введите номер:
							+input({'type':'phone', placeholder:'+375'}).js-phone
							.form-group
								+button({type:'buttonSubmit'}).btn-lg.btn--dark.btn-block.order-fast__form__submit-btn.js-submit-order-fast
									| Заказать быстро
				section.order__delivery
					.order__delivery__head
						h6.small.order__delivery__heading Доставка
						.icon-order-delivery-wrap
							i.icon-truck-delivery.icon-order-truck-delivery
					.order__delivery__body
						.order__delivery__row
							strong.order__delivery__strong Дни работы:
							span.order__delivery__span Понедельник — Суббота
						.order__delivery__row
							strong.order__delivery__strong Часы работы:
							span.order__delivery__span с 12.00 до 24.00
						ul.default-ul.order__delivery__default-ul
							li Бесплатная доставка по Минску
							li Дешевая доставка по РБ
				+b('section').order-info
					+e('h6').heading.small Оформление заказа не обязывает к покупке
					+e('p').text
						| Заказ будет направлен вам только после подтверждения по телефону.
					+e('p').text
						| Менеджер свяжется с вами для уточнения деталей в течении 30 минут после оформления заказa.
					+e.promo
						.media.categories-promo__tile-link__inner
							.media-left.media-middle.categories-promo__tile__img
								i.icon-wire-transfer
							.media-body.categories-promo__tile__body
								h5.media-heading.categories-promo__tile__heading
									| Гарантия возврата денег
								p.categories-promo__tile__text
									| Выгодные условия кредита.
									| Не откладывай на потом!
						.media.categories-promo__tile-link__inner
							.media-left.media-middle.categories-promo__tile__img
								i.icon-security.categories-promo__tile__icon-security
							.media-body.categories-promo__tile__body
								h5.media-heading.categories-promo__tile__heading
									| Сделка без рисков
								p.categories-promo__tile__text
									| Плати наличными при получении или денежным переводом

	+pattern().visible-md-block.visible-lg-block
	section.order__items.visible-md-block.visible-lg-block
		+content-outer()
			.col-md-6
				.order__items__text
					strong Вы заказываете !{''}
					span
						span.js-order-items-count 2
						|  товара на сумму !{''}
						span.js-order-items-price 1 212 000 BYR
				table.table.table-bordered-rows.order__table
					thead
						tr
							th(colspan='2').order__table__desc Описание товара
							th.order__table__price Цена за шт.
							th.order__table__amount Кол-во
							th.order__table__total Итого
							th.order__table__remove
					tbody
						tr
							td
								a(href="/index-good.html")
									img(src="/assets/images/w9fdby7l0gdogomcxqkka.jpg", alt="phone").order-item__img
							td
								.order-item__description
									a(href="/index-good.html")
										strong.order-item__description__name Nokia Lumia 630 Yellow (Black)
										span.order-item__description__text Смартфон 4.5" сенсорный экран, SIM-карт 2 SIM
									.order-item__description__warranty
										.checkbox
											label
												input.checkbox-element(type='checkbox')
												span.order-item__checkbox__text
													span Продлить гарантию еще на 1 год !{''}
													strong + 50 400 BYR
												+link().link--pseudo.order-item__link-more узнать подробнее
							td.order__table__price-value 712 000 BYR
							td.order__table__amount-value
								+inputNumber({value:"2",min:"0",max:"999"})#id1
							td.order__table__total-value 712 000 BYR
							td
								+link().js-remove-item
									i.icon-trash.order-item__icon-trash
						tr
							td
								a(href="/index-good.html")
									img(src="/assets/images/w9fdby7l0gdogomcxqkka.jpg", alt="phone").order-item__img
							td
								.order-item__description
									a(href="/index-good.html")
										strong.order-item__description__name Nokia Lumia 630 Yellow (Black)
										span.order-item__description__text Смартфон 4.5" сенсорный экран, SIM-карт 2 SIM
									.order-item__description__warranty
										.checkbox
											label
												input.checkbox-element(type='checkbox')
												span.order-item__checkbox__text
													span Продлить гарантию еще на 1 год !{''}
													strong + 50 400 BYR
												+link().link--pseudo.order-item__link-more узнать подробнее
							td.order__table__price-value 712 000 BYR
							td.order__table__amount-value
								+inputNumber({value:"2",min:"0",max:"999"})#id2
							td.order__table__total-value 712 000 BYR
							td
								+link().js-remove-item
									i.icon-trash.order-item__icon-trash
						tr
							td
								a(href="/index-good.html")
									img(src="/assets/images/w9fdby7l0gdogomcxqkka.jpg", alt="phone").order-item__img
							td
								.order-item__description
									a(href="/index-good.html")
										strong.order-item__description__name Nokia Lumia 630 Yellow (Black)
										span.order-item__description__text Смартфон 4.5" сенсорный экран, SIM-карт 2 SIM
									.order-item__description__warranty
										.checkbox
											label
												input.checkbox-element(type='checkbox')
												span.order-item__checkbox__text
													span Продлить гарантию еще на 1 год !{''}
													strong + 50 400 BYR
												+link().link--pseudo.order-item__link-more узнать подробнее
							td.order__table__price-value 712 000 BYR
							td.order__table__amount-value
								+inputNumber({value:"2",min:"0",max:"999"})#id3
							td.order__table__total-value 712 000 BYR
							td
								+link().js-remove-item
									i.icon-trash.order-item__icon-trash
				.order__foot
					.order__return
						+link('/index.html').link--pseudo.order__return-link
							| Вернуться к покупкам
					.order__cart
						.order__cart__refresh
							+link().order__cart__refresh-link
								i.icon-refresh
								span.order__cart__refresh-link-text--pseudo Обновить корзину
						.order__cart__final
							| Сумма заказа: !{''}
							strong 1 212 000 BYR

