include ../link/link
include ../../layout/menu-popup/menu-popup

mixin navList(elements, type)
	ul.nav-list.cf&attributes(attributes)
		each element in elements
			if (type == 'footer-left')
				li.nav-list-item
					+link(element.href).footer__link--light
						| !{element.name}
			else if (type == 'footer-right')
				li.nav-list-item
					+link(element.href).footer__link--dark
						| !{element.name}
			else if (type == 'footer-bottom')
				li.nav-list-item
					+link(element.href)(class= element.heading === true ? 'footer__link--heading' : '').footer__link--dark
						| !{element.name}
			else if (type == 'top')
				li.nav-list-item.nav-list-item--header-top
					+link(element.href).header-top__link
						| !{element.name}
			else if (type == 'main')
				li.nav-list-item.nav-list-item--header-main.js-main-menu-item
					+link(element.href || jv0).header-main__link.js-main-menu-link(class= element.sale === true ? 'header-main__link--sale' : '')
						if (element.sale === true)
							span.sale-icon-text %
						else
							i(class= 'icon-' + element.icon + ' nav-icon-' + element.icon)
						span.nav__text !{element.name}
					+menu-popup({name: element.name})
			else
				li.nav-list-item
					+link(element.href)
						| !{element.name}

