include ../form/form
include ../button/button

//- modal
mixin modal(title,id)
	.modal.fade(id="#{id}",tabindex="-1",role="dialog",aria-labelledby="#{id}Label" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true") &times;
						span.sr-only Close
					h4.modal-title(id="#{id}Label")= title
				.modal-body
					block
				.modal-footer
					button.btn.btn-default(type="button",data-dismiss="modal") Close

mixin modalSubscribe(id)
	.modal.fade(id="#{id}",tabindex="-1",role="dialog",aria-labelledby="#{id}Label" aria-hidden="true")
		.modal-dialog.modal-dialog--subscribe
			.modal-content
				.modal-header
					button.close(type="button",data-dismiss="modal")
						span(aria-hidden="true")
							i.icon-close-20-b7.modal-close-icon
						span.sr-only Close
				.modal-body
					.subscribe-popup__text
						.subscribe-popup__text-1 Подписывайся сейчас
						.subscribe-popup__text-2 получи
						.subscribe-popup__text-3 от нынешней покупки
						.subscribe-popup__text-4 на следующую
						.subscribe-popup__text-5 -5%
						.subscribe-popup__form
							+input-simple({
												type: 'email',
												placeholder: 'Email'
											}).subscribe-popup__form__input
							+button().btn-med.btn--red.subscribe-popup__form__btn
								| Подписаться
